div.nav-sections {
    width: 100%;
    font-size: 14px;
}

ul#nav-top {
    display: flex;
    justify-content: left;
    position: relative;
}

div.nav-sections ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.nav-top-section-drop {
    margin-right: 45px;
    padding: 5px;
}

ul.nav-top-section {
    display: none;
    position: absolute;
    z-index: 1;
    width: calc(100vw - 8px);
    top: 25px;
    left: 0;
    background-color: #FAFAFA;
}

ul.nav-top-section>li {
    margin-right: 15px;
    float: left;
    width: 20%;
}

div.nav-sections a:link {
    text-decoration: none;
}

div.nav-sections a:visited {
    text-decoration: none;
}

div.nav-sections a:hover {
    text-decoration: none;
}

div.nav-sections a:active {
    text-decoration: none;
}


i.nav-top-section-drop-arrow {
    border-color: #2c2c2c;
    border-style: solid;
    border-width: 0 1px 1px 0;
    content: "";
    display: inline-block;
    height: 6px;
    margin-left: 5px;
    margin-right: 2.25px;
    transform-origin: 75% 75%;
    transition: transform .1s ease;
    width: 6px;
}

i.nav-top-section-drop-arrow-down {
    transform: rotate(45deg);
}

i.nav-top-section-drop-arrow-up {
    transform: rotate(225deg);
}

ul.nav-top-section-visible {
    display: block;
}
